
@import "vars";

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: @black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after { 
    box-sizing: border-box;
}

/* BLock */

@import "blocks/_container.less";
@import "blocks/_header.less";
@import "blocks/_user.less";
@import "blocks/_nav.less";
@import "blocks/_intro.less";
@import "blocks/_social.less";
@import "blocks/_btn.less";
@import "blocks/_works.less";
@import "blocks/_portfolio.less";
@import "blocks/_work.less";
@import "blocks/_about.less";


/* Helpers */
@import "blocks/_helpers.less";